fine_tuned_llama_1b_mix_lora_16bit/
fine_tuned_llama_1b_mix_lora_16bit1/
output_results_data/
prm_llama*
bs_8_lr_2e-05/
prm_datasets/
process_prm_data/o1_data
deepseek*

*.jsonl
fine_tuned*
llama*
*.jsonl
# *.txt
*.csv
*.tsv
*.tsv.gz
